<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ElbrusКино</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link href="/css/main.css" rel="stylesheet">
  <script src="https://unpkg.com/@ungap/custom-elements-builtin"></script>
  <script type="module" src="https://unpkg.com/x-frame-bypass"></script>
  <script defer src="/js/registration.js"></script>
  <script defer src="/js/login.js"></script>
  <script defer src="/js/video.js"></script>

</head>

<body>
  <header>
    <div>
      <div class="header">
        <div><a class="logo" href="/">ElbrusКино</a></div>
        <div class="nav">
          {{#if signedUp}}
          <div><a class="logo" href="/top100">Топ 20 фильмов</a></div>
          <div><a class="logo" href="/myFilm">Мое кино</a></div>
          <div><a class="logo" href="/search">Поиск</a></div>
          <div><a class="logo" href="/logout">Выход</a></div>
        </div>
        {{else}}
        <div><a class="logo" href="/login">Личный кабинет</a></div>
        <div><a class="logo" href="/registration">Регистрация</a></div>
        {{/if}}
      </div>
    </div>
  </header>

  {{{body}}}

</body>

</html>
