<body class="top100">
  <div class="container">
    <h4>Рекомендуем посмотреть</h4><br>
    <div class="recommendation">
      <div><img src="./img/photo1.jpg" alt="">
        <div class="rating">
          <span>7.9</span>
        </div>
        <div class="namefilm1">Успеть за 60 секунд</div>
        <div class="datafilm">2021 Elbruskino</div>
      </div>
      <div><img src="./img/photo2.jpg" alt="">
        <div class="rating">
          <span>7.8</span>
        </div>
        <p class="namefilm1">Операция «Ы» и другие приключения Шурика </p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo3.jpg" alt="">
        <div class="rating">
          <span>7.4</span>
        </div>
        <p class="namefilm1">Успели</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo4.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">Империя наносит ответный удар</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo5.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">Последний самурай</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo6.jpg" alt="">
        <div class="rating">
          <span>7.4</span>
        </div>
        <p class="namefilm1">Сонная лощина</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo7.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">Сонная лощина - 2</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo8.jpg" alt="">
        <div class="rating">
          <span>7.5</span>
        </div>
        <p class="namefilm1">Экзамен</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo9.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">Крёстный отец</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo10.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">Друзья</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo11.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">Хм... может запушить в мастер?</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo12.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">Острые козырьки</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo13.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">1 + 1</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo14.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">Крёстный отец - 2</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo15.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">Спасти рядового Ивана</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      <div><img src="./img/photo16.jpg" alt="">
        <div class="rating">
          <span>7.1</span>
        </div>
        <p class="namefilm1">undefined</p>
        <p class="datafilm">2021 Elbruskino</p>
      </div>
      
    </div>
  </div>
</body>
