 <form id="regForm" class="form-signin" name="registration" method="POST" action="/registration">
      <h1 class="h3 mb-3 font-weight-normal"></h1>

      <label for="inputEmail" class="sr-only"></label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" required>
      
      <label for="Login" class="sr-only"></label>
      <input type="text" id="Login" class="form-control" placeholder="Login" name="login" minlength="4" required autofocus>
      
      <label for="inputPassword" class="sr-only"></label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
      
       <label for="repeatPassword" class="sr-only"></label>
      <input type="password" id="repeatPassword" class="form-control" placeholder="RepeatPassword" name="repeatPassword" required>
      
      <button name="buttonReg" class="btn btn-lg btn-primary btn-block" type="submit">Register user</button>
      <p class="highLight"></p>
    </form>
