<script defer src="/js/filmGrid.js"></script>
<script defer src="/js/search.js"></script>

<div class="container">
  <form>
    <input type="text" class="search" placeholder="Поиск">
  </form>
  <div class="newfilm"></div>
</div>
